<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.hotelbooking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelBooking"
        tools:targetApi="31">
        <activity
            android:name=".Admin.RemoveAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AddRoomActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AddAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminMainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ReservedRoom.MyRoomDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.showPopupWindowAdmin"
            android:exported="false" />
        <activity
            android:name=".ReservedRoom.MyReservedRooms"
            android:exported="false" />
        <activity
            android:name=".HotelRooms.DeluxRooms.bookingDeluxActivity"
            android:exported="false" />
        <activity
            android:name=".HotelRooms.DeluxRooms.DeluxRoomActivity"
            android:exported="false" />
        <activity
            android:name=".HotelRooms.SingelRooms.SingleRoomActivity"
            android:exported="false"
            android:parentActivityName=".User.MainPageActivity" />
        <activity
            android:name=".HotelRooms.SingelRooms.bookingSingleRoom"
            android:exported="false"
            android:parentActivityName=".HotelRooms.SingelRooms.SingleRoomActivity" />
        <activity
            android:name=".HotelRooms.DoubleRooms.DoubleRoomActivity"
            android:exported="false"
            android:parentActivityName=".User.MainPageActivity" />
        <activity
            android:name=".HotelRooms.DoubleRooms.bookingDoubleRoom"
            android:exported="false"
            android:parentActivityName=".HotelRooms.DoubleRooms.DoubleRoomActivity" />
        <activity
            android:name=".HotelRooms.SingelRooms.showPopupWindow"
            android:exported="false"
            android:parentActivityName=".HotelRooms.SingelRooms.bookingSingleRoom" />
        <activity
            android:name=".HotelRooms.DoubleRooms.showPopupWindowDouble"
            android:exported="false"
            android:parentActivityName=".HotelRooms.DoubleRooms.bookingDoubleRoom" />
        <activity
            android:name=".ReservedRoom.showPopupWindowUnreserved"
            android:exported="false" />
        <activity
            android:name=".User.MainPageActivity"
            android:exported="true"
            android:label="@string/title_activity_main_page"
            android:theme="@style/Theme.HotelBooking.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.HotelBooking.NoActionBar"
            >

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".User.SignUp"
            android:exported="true"
            android:theme="@style/Theme.HotelBooking.NoActionBar"/>
    </application>

</manifest>